.container {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-s {
  width: 70%;
  height: 30px;
  text-overflow: ellipsis;
  font-size: 22px;
  color: black;
  text-align: center;
}

.text-m {
  width: 70%;
  height: 50px;
  text-overflow: ellipsis;
  font-size: 30px;
  color: black;
  text-align: center;
}

.text-decrypted {
  width: 80%;
  font-size: 30px;
  color: black;
  text-align: center;
}
.button {
  margin-top: 5px;
  background-color: firebrick;
  border-radius: 0px;
  width: 80%;
  font-size: 28px;
  height: 15%;
}